* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #FFF9FF;
  font-size: 16px;
}

.dashboard-container {
  width: 600px;
  padding: 20px;
  border-radius: 5px;
  background-color: #0050C3;

  box-shadow: 5px 5px 10px -5px #000000;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 20px;

  h1 {
    color: #FFF9FF;
    font-size: 2em;
  }
}

.dashboard-controls {
  display: flex;
  align-items: center;
  gap: 20PX;
  margin-bottom: 20px;

  button,
  input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
  }

  button {
    background-color: #FFFFFF;
    border: none;

    color: #0050C3;
    cursor: pointer;
    transition: box-shadow 0.2S ease-in;

    &:hover {
      box-shadow: 5px 5px 10px -5px #000000;
    }
  }

  input {
    outline-color: #3fd97f;

    &::placeholder {
      color: #0050C3;
      opacity: 0.7;
    }
  }
}

.crypto-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .crypto-item {
    background-color: #FFF9FF;
    border-left: 5px solid #3fd97f;
    padding: 10px;
    transition: background-color ease-in .2s;

    &:hover {
      background-color: aliceblue;
    }

    p {
      font-size: 1em;

    }

    .crypto-name {
      color: #0050C3;
      font-weight: bold;
      text-transform: capitalize;
    }

    .crypto-price {
      color: #3fd97f;
      font-weight: bold;
    }
  }
}